---
import Hero from "../components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Infobox from "../components/Infobox.astro";
import Sponsorvideo from "../components/Sponsorvideo.astro";
<<<<<<< HEAD
import Greensolution from "../components/Greensolution.astro";
---

<MainLayout title="COPENHAGEN LIGHT FESTIVAL">
  <Hero />
  <Infobox />
=======
import PhotoContest from "../components/PhotoContest.astro";
---

<MainLayout title="COPENHAGEN LIGHT FESTIVAL">
  <Hero></Hero>
  <Infobox></Infobox>
  <PhotoContest></PhotoContest>
>>>>>>> origin/Simon---map
  <h2>Welcome welcome welcome</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat soluta possimus iusto nesciunt, laboriosam minus velit, ullam in necessitatibus est temporibus nihil quidem dolor mollitia molestiae illo aliquid adipisci reiciendis!</p>
  <h2>Welcome welcome welcome</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat soluta possimus iusto nesciunt, laboriosam minus velit, ullam in necessitatibus est temporibus nihil quidem dolor mollitia molestiae illo aliquid adipisci reiciendis!</p>
  <h2>Welcome welcome welcome</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat soluta possimus iusto nesciunt, laboriosam minus velit, ullam in necessitatibus est temporibus nihil quidem dolor mollitia molestiae illo aliquid adipisci reiciendis!</p>
  <h2>Welcome welcome welcome</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat soluta possimus iusto nesciunt, laboriosam minus velit, ullam in necessitatibus est temporibus nihil quidem dolor mollitia molestiae illo aliquid adipisci reiciendis!</p>
  <h2>Welcome welcome welcome</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat soluta possimus iusto nesciunt, laboriosam minus velit, ullam in necessitatibus est temporibus nihil quidem dolor mollitia molestiae illo aliquid adipisci reiciendis!</p>
  <h2>Welcome welcome welcome</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat soluta possimus iusto nesciunt, laboriosam minus velit, ullam in necessitatibus est temporibus nihil quidem dolor mollitia molestiae illo aliquid adipisci reiciendis!</p>
  <h2>Welcome welcome welcome</h2>
  <Sponsorvideo />
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat soluta possimus iusto nesciunt, laboriosam minus velit, ullam in necessitatibus est temporibus nihil quidem dolor mollitia molestiae illo aliquid adipisci reiciendis!</p>
  <h2>Welcome welcome welcome</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat soluta possimus iusto nesciunt, laboriosam minus velit, ullam in necessitatibus est temporibus nihil quidem dolor mollitia molestiae illo aliquid adipisci reiciendis!</p>

  <Greensolution />
</MainLayout>

<style></style>
