---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="COPENHAGEN LIGHT FESTIVAL">
<h2>Welcome welcome welcome</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat soluta possimus iusto nesciunt, laboriosam minus velit, ullam in necessitatibus est temporibus nihil quidem dolor mollitia molestiae illo aliquid adipisci reiciendis!</p>

</MainLayout>

<style>

</style>