---
import MainLayout from "../layouts/MainLayout.astro";
import ListCard from "../components/ListCard.astro";

const data = await fetch("https://ogaxuggyhpkmcikcmeli.supabase.co/rest/v1/clf", 
{ 
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9nYXh1Z2d5aHBrbWNpa2NtZWxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYyMjk5MTAsImV4cCI6MjAxMTgwNTkxMH0.sNxRHYiLpJz47USf7p1J_3MlM3lf10QkoUyIV8D0kyI",
    },
}).then((res) => res.json());

---

<MainLayout title="COPENHAGEN LIGHT FESTIVAL">
<section class="list-info">
    <div id="info">
        <a href="#">Installations</a>
        <a href="#">Guided tours</a>
    </div>
    <p><span class="rainbow-text">Experience</span> beautiful, captivating sculptural elements
        exhibited in urban spaces, 
        Artistic lighting experiences and light based events and tours. 
        Over 55 installations are possible to view for the entire period of the festival.</p>
</section>
<section class="listView">
        <article class="art">
            {
                data.map((artist) => {
                    return <ListCard data={artist}/>;
                    })
            }
</section>
</MainLayout>

<style>
.listView {
    display: grid;
    width: 80%;
    margin: auto;
    align-self: center;
}
    .art {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 2rem;
    }
    .list-info {
        display: grid;
        margin: auto;
        gap: 1rem;
        width: 500px;
        text-align: center;
        place-content: center;
    }
    #info {
        display: grid;
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
p span {
    font-size: large;
}
    .rainbow-text {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
}
</style>