---
import MainLayout from "../layouts/MainLayout.astro";
import Infolist from "../components/Infolist.astro";
import Map from "../components/Map.astro";
import Gallery from "../components/Gallery.astro";
---

<MainLayout title="COPENHAGEN LIGHT FESTIVAL">
  <Infolist />
  <section class="listView">
    <article class="art">
      <Gallery />
    </article>
  </section>
  <Map />
</MainLayout>

<style>
.listView {
    display: grid;
    margin: auto;
}
.art {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    gap: 1.5rem;
}
</style>
