---
import Header from "../components/Header.astro";

const {data} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Map</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <!-- <link rel="stylesheet" type="text/css" href="src/css/mapstyle.css" > -->
        <script type="module" src="/src/js/map.js"></script>
      </head>
      <body>
        <div class="centered">
          <Header></Header>

        </div>
        <!--The div element for the map -->
        <div id="map"></div>

        <!-- prettier-ignore -->
        <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
            ({key: "AIzaSyBfRKVZ08er8Mn_lP7ONimTIaX3lbSS8wk", v: "bheta"});</script>
      </body>
</html>
<style>
  @import url('https://fonts.googleapis.com/css?family=Karla:400,500');
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(2,20,56);
  color: black;
background: linear-gradient(178deg, rgba(2,20,56,1) 13%, rgba(17,17,68,1) 24%, rgba(16,39,77,1) 35%, rgba(2,67,76,1) 46%, rgba(1,50,93,1) 59%, rgba(7,41,57,1) 71%, rgba(14,31,77,1) 85%);
 }

#map {
  height: 100%;
}


.centered {
  display: flex;
  justify-content: start;
  width: auto;
  height: 15%;
 
}

h5 {
  font-size: 2rem;
  color: white;
  margin-left: auto;
  margin-right: 2%;
}
</style>