---

---

<div>
  <img src="/media/svg/byensbedste.svg" alt="byensbedste" />
</div>

<style>
  img {
    margin-top: 30%;
    margin-left: 78%;
    width: 20%;
    position: absolute;
    position: fixed;
    z-index: 100000;
  }
</style>
