---

---

<div>
   <img src="/media/svg/byensbedste.svg" alt="byensbedste" />
    <div class="vote"><a href="#"><p>Vote here</p></a></div>
  </div>
  
  <style>
    .vote {
      z-index: 100000;
      position: absolute;
      position: fixed;
      margin-top: 40.5%;
      margin-left: 88.9%;
    }
  
    a {
      text-decoration: none;
      font-weight: 0.2rem;
      color: white;
    }
  
    a:hover {
      color: rgba(44, 35, 107, 0.699);
      
    }
  
    img {
      margin-top: 38%;
      margin-left: 82%;
      width: 12%;
      position: absolute;
      position: fixed;
      z-index: 1000;
    }
  

  </style>
