---

---

<div>
  <a href="#"><img src="/media/svg/byensbedste.svg" alt="byensbedste" /></a>
</div>

<style>
  img {
    margin-top: 35%;
    margin-left: 85%;
    width: 12%;
    position: absolute;
    position: fixed;
    z-index: 100000;
  }
  img:hover {
    transform: 0.3s;
    scale: 1.1;
  }
</style>
