---

---

<section>
  <h2>We are part of the green solution</h2>
  <div class="globe"><img src="src/icons/globe.svg" alt="globe" /></div>
  <p>Read more</p>
</section>

<style>
  h2 {
    text-align: center;
    color: white;
  }

  .globe {
    display: flex;
    justify-content: center;
  }
  img {
    width: 30%;
    margin-top: 5%;
  }
  p {
    text-align: center;
    color: white;
    text-decoration: underline;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
  }
</style>
