---

---
<div class="globe_grid">
  <div class="globe_child">
    <h2>We are part of the green solution</h2>
  </div>
  <div class="globe_child">
    <a href="#">Read more</a>
  </div>
  <div class="globe_child">
    <img src="/media/svg/globe.svg" alt="globe">
  </div>
</div>



<style>
  .globe_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10%;
  }
  .globe_child:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  .globe_child:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
  }
  .globe_child:nth-child(3) {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    margin-top: 15%;
  }
  h2 {
    text-align: center;
    color: white;
  }

  img {
    width: 80%;
  }
  a {
    color: white;
    text-align: center;
  
  
    text-decoration: underline;
    font-size: 1.5rem;

  }
</style>
