---

---

<div class="container">
    
    <img class="line" src="/media/svg/GuidedTours_Line.svg" alt="PC">
    <div class="img-overlay">
        <img src="/media/img/artpiece/Guided_tours.webp" alt="food">
    </div>
    <div class="buttons">
        <div class="nominees">
            <a href="#">Guided Tours <img class="arrow" src="/media/svg/Arrow.svg" alt="arrow"></a>
        </div>
    </div>
    
</div>


        <style>
            .container {
    position: relative;

    text-align: center;
    margin-left: 0%;

    max-width: 100%;
    margin-top: 2%;
    
}
img {
    
    width: 50%;
    height: auto;
    margin-left: auto;
}
.line {
    width: 20%;
}
.img-overlay {
    position: absolute;
    top: 0;
    left:30%;
    width: 45%;
    height: 80%;
}

.buttons-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;

}

.buttons {
    position: absolute; 
    left: 53.5%;
    top: 88%;
}

.arrow{
    width: 10%;
    
    
}
a {
    
    text-decoration: underline;
    color: white;
    cursor: pointer;
    font-size: 0.8vw;
    z-index: 50;
}
a:hover {
    color: rgb(1, 221, 148);
   
}

/* Media query for screens narrower than 800px */
@media (max-width: 800px) {
    .video-overlay {
      
    }

    video {
        width: 100%;
        height: auto;
    }
}
        </style>
       
   