<!-- <div class="header">
  <div class="logo">
    <a href="/index/"><img class="logo" src="/media/img/logo/logo.webp" alt="logo" /></a>
  </div>

  <div class="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>

<div class="navbar">
  <div class="subnav">
    <button class="subnavbtn">Program <i class="fa fa-caret-down"></i></button>
    <ul class="subnav-content">
      <li><a href="/list-view/">Program 2024</a></li>
      <li><a href="#team">Tours and pop up events</a></li>
      <li><a href="#careers">Previous festivals</a></li>
    </ul>
  </div>

  <div class="subnav">
    <button class="subnavbtn">Info <i class="fa fa-caret-down"></i></button>
    <ul class="subnav-content">
      <li><a href="#company">FAQ</a></li>
      <li><a href="#team">About us</a></li>
      <li><a href="#careers">Work with us</a></li>
      <li><a href="#careers">Press</a></li>
    </ul>
  </div>

  <div class="subnav">
    <button class="subnavbtn">Map <i class="fa fa-caret-down"></i></button>
    <ul class="subnav-content">
      <li><a href="/map/">Full Map</a></li>
      <li><a href="#team">Routes</a></li>
    </ul>
  </div>

  <style>
    .burger {
      display: none;
    }

    .header {
      position: relative;
    }

    .logo {
      width: 35%;
      margin: 1%;
      position: absolute;
      top: -20px; /* Adjust the top position as needed */
      left: 10px; /* Adjust the left position as needed */
    }

    .navbar {
      position: absolute;
      margin-top: 3%; /* Adjust the top position as needed */
      right: 10px; /* Adjust the right position as needed */
      z-index: 2; /* Ensure the navigation is above the video (increase if necessary) */
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }

    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .subnav {
      float: left;
      overflow: hidden;
      margin-right: 17px;
      border: solid;
      border-color: white;
      border-width: 0.1rem;
    }

    .subnav .subnavbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .navbar a:hover,
    .subnav:hover .subnavbtn {
      background-color: rgba(18, 18, 88, 0.382);
    }

    .subnav-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(18, 18, 88, 0.382);
  width: 95%;
  z-index: 1;
  width:100%;
  list-style: none;
  padding: 0;
  margin-right: 15px;
}

.subnav-content a {
  display: block; /* Display each link as a block element */
  padding: 10px 16px;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
Make sure you've replaced the previous code with this updated code in your stylesheet. If it still doesn't work, it's possible that there might be other CSS or JavaScript affecting the behavior, so please check for any conflicting styles or scripts in your HTML file.







    .subnav:hover .subnav-content {
      display: block;
    }

    @media (max-width: 800px) {
      .navbar {
        display: none;
      }

      .burger {
        display: block;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
        margin-left: 90%;
        margin-top: 5%;
      }

      .burger .line {
        width: 100%;
        height: 2px;
        background-color: white;
        margin-bottom: 5px;
      }

      .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      .burger.active .line:nth-child(2) {
        opacity: 0;
      }

      .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }

      .navbar.active {
        display: block;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: rgba(18, 18, 88, 0.382);
        position: absolute;
        top: 6%;
        left: 0;
        border: solid;
        border-color: white;
        border-width: 0.1rem;
        width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
      }

      .subnav:hover .subnav-content {
        display: block;
      }

      .subnav {
        margin-right: 17px;
        border: none;
        border-color: white;
        border-width: 0.1rem;
      }

      .subnav-content {
        display: none;
        align-items: center;
        position: absolute;
        right: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        z-index: 1;
        list-style: none; /* Remove default list styles */
        padding: 0; /* Remove default padding */
        margin-right: 15px; /* Remove default margin */
      }
    }
  </style>

  <script>
    const burger = document.querySelector(".burger");
    const navbar = document.querySelector(".navbar"); // Add a dot before "navbar"
    const menu = document.querySelector(".menu");
    const links = document.querySelectorAll(".menu li a");
    const subnav = document.querySelectorAll(".subnavbtn");
    const subnavcontent = document.querySelectorAll(".subnav-content");

    burger.addEventListener("click", () => {
      burger.classList.toggle("active");
      navbar.classList.toggle("active");
    });

    links.forEach((link) => {
      link.addEventListener("click", () => {
        burger.classList.remove("active");
        navbar.classList.remove("active");
      });
    });

    function toggleSubnavContent(button) {
      var subnavContent = button.nextElementSibling;
      if (subnavContent.style.display === "block") {
        subnavContent.style.display = "none";
      } else {
        subnavContent.style.display = "block";
      }
    }

    // Get all subnav buttons and attach click event listeners
    var subnavButtons = document.querySelectorAll(".subnavbtn");

    subnavButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        toggleSubnavContent(this);
      });
    });
  </script>
</div> -->
