---

---

<header>
  <div class="logo">
    <img class="logo" src="media/img/logo/logo.webp" alt="logo" />
  </div>

  <nav>
    <ul class="menu">
      <li class="menubtn">
        <a href="#">Program</a>
        <ul>
          <li><a href="">Program 2024</a></li>
          <li><a href="">Tours + Pop-up events</a></li>
          <li><a href="">Previous festivals</a></li>
        </ul>
      </li>

      <li class="menubtn">
        <a href="#">Info</a>
        <ul>
          <li><a href="">FAQ</a></li>
          <li><a href="">About us</a></li>
          <li><a href="">Work with us</a></li>
          <li><a href="">Press</a></li>
        </ul>
      </li>

      <li class="menubtn">
        <a href="#">Map</a>
        <ul>
          <li><a href="">Full map</a></li>
          <li><a href="">Routes</a></li>
        </ul>
      </li>
    </ul>

    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>

<style>
  .logo {
    width: 50%;
  }
  header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: #ffffff00;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  }

  .menu a:hover {
    color: rgb(0, 0, 0);
  }

  .burger {
    display: none;
  }

  @media (max-width: 800px) {
    .logo {
      width: 50%;
    }

    .menu {
      display: none;
    }
    .burger {
      display: block;
      z-index: 1;
    }

    .burger {
      width: 30px;
      height: 20px;
      cursor: pointer;
    }

    .burger .line {
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      margin-bottom: 5px;
    }

    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }

    nav.active .menu {
      display: block;
      background-color: #25064bd2;
      position: absolute;
      top: 12%;
      width: 100%;
      left: 0;
    }

    nav.active .menu li {
      margin: 10px 20px;
    }

    nav.active .menu a {
      font-size: 17px;
      font-weight: bolder;
    }
  }
</style>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
    });
  });
</script>
