---

---
<div class="grid_infobox">
    <div class="grid_child">
        <a href="#">Installations</a>
        
    </div>
    <div class="grid_child">
        <a href="#">Guided Tours</a>
    </div>
    <div class="grid_child">
        <h3><span>Experience</span> beautiful, captivating sculptural elements
            exhibited in urban spaces, Artistic lighting experiences and light based events and tours. Over 55 installations are possible to view for the entire period of the festival.</h3>
    </div>
</div>


<style>
    .grid_infobox {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 10%;
        margin-bottom: 5%;
        
    }
    
    .grid_child:nth-child(1) {
        grid-row:1;
        grid-column: 6;
        text-align: left;
        align-self: end;
    }
    .grid_child:nth-child(2) {
        grid-row:1;
        grid-column: 7;
        text-align: right;
        align-self: end;
    }
    .grid_child:nth-child(3) {
       
        text-align: center;
        grid-column: 4 / span 6;
        grid-row: 2;
    }
    h3 {
        color: white;
    }

   a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
   }

    .grid_child h3 span {
        background: linear-gradient(to right, #FB383F,#7A67F3, #00B8B5); /* Replace these colors with your desired gradient */
        -webkit-background-clip: text;
        color: transparent;
        display: inline;
    }
    .grid_child p span {
        font-weight: bolder;
    }

</style>