---
const {data} = Astro.props;
// console.log(data);
---
<article class="listCard">
    <img src={data.aImg} alt={data.aName}>
    <p>{data.cName}</p>
    {data.isPermanent && <p>isPermanent = true</p>}
    {data.isPopup && <p>isPopup = true</p>}
</article>

<style>
article {
    background-color: hotpink;
}
</style>