---

---

<section>
  <h2>Find installations on the map</h2>
  <div class="map-container">
    <img src="/media/icons/cph-kort2.svg" alt="map" />
  </div>
</section>

<style>
  h2 {
    text-align: center;
    color: white;
  }

  .map-container {
    display: flex;
    justify-content: center;
  }
  img {
    width: 30%;
    margin-top: 5%;
  }
</style>
