---

---

<section>
  <h3>Find installations on the map</h3>
  <div class="map-container">
    <a href="/map/"><img src="/media/icons/cph-kort2.svg" alt="map" /></a>
  </div>
</section>

<style>
  h3 {
    text-align: center;
    color: white;
    margin-top: 10%;
  }

  .map-container {
    display: flex;
    justify-content: center;
  }
  img {
    width: 25%;
    margin-top: 2%;
    margin-bottom: 10%;
  }
  a {
    width: 100%;
    text-align: center;
  }

  img {
    cursor: url(/media/icons/cursor_marker.png), auto;
  }
</style>
