---

---

<section>
  <h2>Find installations on the map</h2>
  <div class="map-container">
   <a href=""> <img src="/media/icons/cph-kort2.svg" alt="map" /></a>
  </div>
</section>

<style>
  h2 {
    text-align: center;
    color: white;
  }

  .map-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  img {
    width: 150%;
    margin-top: 5%;
    margin-left: -25%;
  }
  img:hover {
    cursor:url('/media/svg/Marker_Red.svg');
  }
</style>
