---

---

<div class="container">
    
    <img src="/media/svg/PhotoContest_Line.svg" alt="PC">
    <div class="video-overlay">
        <video autoplay muted>
            <source src="/media/video/PhotoContest.webm" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="buttons">
        <div class="nominees">
            <a href="#">Nominees 2024 <img class="arrow" src="/media/svg/Arrow.svg" alt="arrow"></a>
        </div>
        <div class="participate"> 
            <a href="#">Participate 2024 <img class="arrow" src="/media/svg/Arrow.svg" alt="arrow"></a>
        </div>
    </div>
    
</div>


        <style>
            .container {
    position: relative;

    text-align: center;
    margin-left: 8%;

    max-width: 100%;
    margin-top: 10%;
    
}
img {
    
    width: 50%;
    height: auto;
    margin-left: auto;
}
.video-overlay {
    position: absolute;
    top: 0;
    left:0%;
    width: 50%;
    height: 80%;
}
video {
    position: absolute;
    top: 50%;
    left: 92%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.buttons-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;

}

.buttons {
    
    position: absolute; 
    left: 66%;
    top: 83%;
}

.arrow{
    width: 0%;
    
    
}
a {
    
    text-decoration: underline;
    color: white;
    cursor: pointer;
    font-size: 0.8vw;
    z-index: 50;
}
a:hover {
    color: rgb(1, 221, 148);
   
}

/* Media query for screens narrower than 800px */
@media (max-width: 800px) {
    .video-overlay {
      
    }

    video {
        width: 100%;
        height: auto;
    }
}
        </style>
       
   